// bower:scss
// endbower
@import 'mixins.scss';
@import 'colors.scss';

@include font-face(roboto-regular);
@include font-face(OpenSans-Light);
@include font-face(OpenSans-Regular);


body {
  font-family: OpenSans-Regular, Helvetica, sans-serif;
  color: #fff;
  background-color: $palette_dark;
  margin: 0;
  width: 100vw;
  height: 100vh;
  .container {
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;

    .playSection {
      position: fixed;
      z-index: 5;
      bottom: 0;
      height: 20%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $palette_darker;

      .randomPlay {
        display: block;
        height: 75px;
        width: 75px;
        &.play {
          background: url('.././assets/images/play-button.png') no-repeat 100%/contain;
        }
        &.pause {
          background: url('.././assets/images/pause-button.png') no-repeat 100%/contain;
        }
        &.shuffle {
          background: url('.././assets/images/shuffle-button.svg') no-repeat 100%/50%;
        }
        &.save {
          background: url('.././assets/images/save-button.svg') no-repeat 100%/50%;
        }
      }
    }
  }

  .hidden {
    display: none;
  }
}
